[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
[submodule "extern/nifly"]
	path = extern/nifly
	url = https://github.com/ousnius/nifly.git
